@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
body {
  @apply leading-normal tracking-normal text-base font-normal break-words;
  @apply font-sans text-base lg:text-xl;
  main {
    @apply p-8 pt-12 md:pt-20 mx-auto max-w-4xl;
    @apply text-center;
  }
}




/* purge end ignore */
